body {
    background-color: black;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: 'Galindo', sans-serif;
    box-sizing: border-box;
}

header {
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header .video-container video {
    width: 400px;
    max-height: auto;
    border-radius: 50px;
    margin-bottom: 10px;
}

h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 5em;
    font-family: 'Caprasimo', sans-serif;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    z-index: 1;
    white-space: nowrap;
    -webkit-text-stroke: .5px rgba(255, 255, 255, 0.822);  
}

.nav-button {
    background-color: #e03d3d; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: 'Caprasimo', sans-serif;
    -webkit-text-stroke: .8px #e03d3d; 
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s; 
    border-radius: 250px; /* This will round the corners */
}

.nav-button:hover {
    background-color: #45a049; 
}

.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px; /* Adjust as needed for spacing from header */
}

.nba-button, .nfl-button {
    margin: 10px 0; /* Adjust spacing between buttons */
}

main {
    padding-top: 10px;
}
@media (max-width: 768px) {
    header {
        width: 100%;
        height: 50%;
    }

    header .video-container video {
        width: 50%;
        border-radius: 50px;
    }

    h1 {
        font-size: 3em;
        margin-top: 33px;
    }
}

@media (max-width: 480px) {
    header {
        height: auto;
    }

    header .video-container video {
        width: 100%;
        max-width: 200px;
        border-radius: 20px;
        margin: 10px 0;
    }

    h1 {
        margin-top: 31px;
        font-size: 3.5em;
    }
}