body {
    background-color: black;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: 'Caprasimo', sans-serif;
}

header {
    position: relative;
    width: 100%;
    overflow: hidden;
}

header video {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    display: block;
}

h1 {
    position: absolute;
    text-align: center;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 5em;
    font-family: 'Caprasimo', sans-serif;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    z-index: 1;
    white-space: nowrap; 
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

main {
    padding: 20px;
}

.directory-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.directory-list ul p {
    margin-bottom: 10px; 
    font-family: 'Caprasimo', sans-serif;
}

.directory-list ul p a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.directory-list ul p a:hover {
    color: #445355;
}

.active {
    opacity: 0.5;
    pointer-events: none; 
}

a {
    color: rgb(78, 201, 129);
    font-family: 'Caprasimo', sans-serif;
}

.button-container {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.button-container button {
    font-family: 'Caprasimo', sans-serif;
    font-size: 1.2em;
    background-color: rgb(78, 201, 129);
    color: black;
    border: none;
    padding: 10px 20px;
    margin-left: 20px;
    margin-right: 10px; 
    margin-top: 10px;
    cursor: pointer;
    border-radius: 250px;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: rgb(47, 116, 75);
}

#searchInput {
    width: 100px; 
    height: 10px;
    max-width: 200px; 
    margin-top: 30px; 
    padding: 8px; 
    font-size: 14px;
    border: 4px solid rgb(0, 0, 0); 
    border-radius: 250px; 
    outline: none; 
    transition: border-color 0.3s ease; 
}

#searchInput:focus {
    border-color: rgb(47, 116, 75); 
}

#searchInput::placeholder {
    color: rgba(156, 154, 154, 0.8); 
}

.video-container, .merch-item, .directory-list ul {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}

.video-container p, .merch-item p, .directory-list ul li {
    position: absolute;
    left: 0; 
    right: 0;
    margin: 0;
    font-family: 'Caprasimo', sans-serif;
}

.video-row, .merch-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center;
}

.video-container, .merch-item {
    flex: 1 1 300px;
    max-width: 100%;
}

body {
    font-family: 'Galindo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    position: relative;
}

#banner-video {
    width: 100%;
    height: auto;
}

button {
    font-family: 'Caprasimo', sans-serif;
    margin: 5px;
}

/* Ensure the .merch-item maintains the aspect ratio */
.merch-item {
    min-width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.merch-item p {
    margin-top: 550px;
}

.carousel-track .merch-item {
    margin-right: 5px;
}

.merch-item img {
    width: 100%;
    border-radius: 20px;
    max-width: 250px; 
    height: 500px;
    aspect-ratio: 2 / 1; 
    object-fit: cover; 
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 80px 0;
}

.carousel-track-container {
    display: flex;
    overflow: hidden;
    height: 600px;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
    height: 600px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px;
}

.carousel-button-left {
    left: 10px;
}

.carousel-button-right {
    right: 10px;
}

iframe {
    width: 100%;
    height: 200px;
}

h2 {
    font-family: 'Caprasimo', cursive;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

/* iPhone screen adjustments */
@media (max-width: 480px) {
    .video-row, .merch-row {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 3em; 
    }
}
