
body {
    background-color: black;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: 'Galindo', sans-serif;
    box-sizing: border-box;
}

a {
    color:  rgba(9, 255, 111, 0.466);
    text-decoration: none;
    font-family: 'Caprasimo', sans-serif;
    -webkit-text-stroke: .3px rgb(0, 0, 0);
}

a:hover {
    color: #445355;
}

header {
    text-align: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

header video {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    display: block;
}

h1 {
    position: absolute;
    text-align: center;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 5em;
    font-family: 'Caprasimo', sans-serif;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    z-index: 1;
    white-space: nowrap;
    -webkit-text-stroke: .5px rgba(9, 255, 111, 0.466);
}

main {
    padding: 20px;
}

.button-container {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.button-container button {
    font-family: 'Caprasimo', sans-serif;
    font-size: 1.2em;
    background-color: rgba(9, 255, 111, 0.466);
    color: black;
    border: none;
    padding: 5px 25px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 250px;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: rgb(0, 255, 21);
    padding: 5px 25px;
}

.search-container {
    text-align: center;
    margin-top: 30px;
}

#searchInput {
    width: 100%;
    max-width: 200px;
    padding: 8px;
    font-size: 14px;
    text-align: center;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 250px;
    outline: none;
    transition: border-color 0.3s ease;
}

#searchInput:focus {
    border-color: rgb(47, 116, 75);
}

#searchInput::placeholder {
    color: rgba(211, 211, 211, 0.541);
}

.video-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.video-container {
    position: relative;
    width: 80%;
    padding-bottom: 28.125%; /* 16:9 aspect ratio */
    height: 0;
    margin-bottom: 20px;
    overflow: hidden;
}

.video-container a {
    text-align: center;

}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media (max-width: 768px) {
    .video-container {
        width: 100%;
        padding-bottom: 56.25%; /* 16:9 aspect ratio */
    }
    .video-container iframe {
        position: absolute;
        margin-right: 10px;
        margin-left: 10px;
        width: 100%;
        height: 100%;
        font-size: 10px;
    }

    a {
        color:  rgba(9, 255, 111, 0.466);
        text-decoration: none;
        font-family: 'Caprasimo', sans-serif;
        -webkit-text-stroke: .3px rgb(0, 0, 0);
        text-align: center;
        margin-right: 10px;
        margin-left: 10px;
    }

    h1 {
        font-size: 3em;
    }
}

