body {
    background-color: black;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: 'Galindo', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header .video-container video {
    width: 400px;
    max-height: auto;
    border-radius: 50px;
    margin-bottom: 10px;
}

h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 5em;
    font-family: 'Caprasimo', sans-serif;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    z-index: 1;
    white-space: nowrap;
    -webkit-text-stroke: .5px rgba(9, 255, 111, 0.466);  
}

main {
    padding-top: 10px;
}

.button-container {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.button-container button {
    font-family: 'Caprasimo', sans-serif;
    font-size: 1.2em;
    background-color: rgba(9, 255, 111, 0.466);
    color: black;
    border: none;
    padding: 5px 25px;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 250px;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: rgb(0, 255, 21);
}

.search-container {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 15px;
}

#searchInput {
    width: 100%;
    max-width: 200px;
    padding: 8px;
    font-size: 14px;
    text-align: center;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 250px;
    outline: none;
    transition: border-color 0.3s ease;
}

#searchInput:focus {
    border-color: rgb(47, 116, 75);
}

#searchInput::placeholder {
    color: rgba(211, 211, 211, 0.541);
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 24px;
    -webkit-overflow-scrolling: touch; /* Enables smooth scrolling on iOS */
}

.merch-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ffffff00;
    border-radius: 10px;
    background-color: #0f0f0f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.merch-card a {
    display: flex; /* Ensures the entire card area is clickable */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(9, 255, 111, 0.466);
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.merch-card a:hover {
    color: rgb(0, 255, 21);
}

.merch-card img {
    width: 200px;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
    
@media (max-width: 768px) {
    header {
        width: 100%;
        height: 50%;
    }
    
    header .video-container video {
        width: 50%;
        border-radius: 50px;
    }
    
    header .video-container iframe {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    
    h1 {
        font-size: 3em;
        margin-top: 33px;
    }
    
    .carousel {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-padding: 0 24px;
    }
    
    .merch-card {
        flex: 0 0 auto;
        width: 200px;
        height: 400px;
        margin-right: 5px;
    }
        
    .merch-card img {
        width: 180px;
        height: 400px;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
}
    
@media (max-width: 480px) {
    header {
        height: 150px;
    }
    
    header .video-container video {
        width: 50%;
        border-radius: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    h1 {
        font-size: 2em;
        margin-top: 33px;
    }

    .carousel {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-padding: 0 24px;
    }
    
    .merch-card {
        flex: 0 0 auto;
        width: 200px;
        height: 400px;
        margin-right: 5px;
    }
        
    .merch-card img {
        width: 180px;
        height: 400px;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
}
