body {
    background-color: black;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: 'Galindo', sans-serif;
    box-sizing: border-box;
}

header {
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header .video-container video {
    width: 400px;
    max-height: auto;
    border-radius: 50px;
    margin-bottom: 10px;
}

h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 5em;
    font-family: 'Caprasimo', sans-serif;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    z-index: 1;
    white-space: nowrap;
    -webkit-text-stroke: .5px rgba(255, 255, 255, 0.822);  
}

main {
    padding-top: 10px;
}

.button-container {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.button-container button {
    font-family: 'Caprasimo', sans-serif;
    font-size: 1.2em;
    background-color: rgb(211, 70, 65, 0.822);
    color: rgb(255, 255, 255);
    -webkit-text-stroke: .8px #000000;
    border: none;
    padding: 5px 25px;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 250px;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #45a049;
}

.search-container {
    text-align: center;
    margin-top: 30px;
}

#searchInput {
    width: 100%;
    max-width: 200px;
    padding: 8px;
    font-size: 14px;
    text-align: center;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 250px;
    outline: none;
    transition: border-color 0.3s ease;
}

#searchInput:focus {
    border-color: rgb(255, 0, 55);
    font-family: 'Caprasimo', sans-serif;
    font-size: 1.2em;
}

#searchInput::placeholder {
    color: rgba(211, 211, 211, 0.541);
}

.draft-title {
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    font-size: 30px;
    color: #fcb723;
    margin-top: 25px;
    -webkit-text-stroke: 1.60px rgb(0, 0, 0);  
}

.draft-title a {
    font-family: inherit; 
    margin-left: 14px;
}

.draft-timer {
    margin-left: 10px;
}

.team-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.team-name, .team-record {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}
  
.team-record {
    margin-right: 10px; 
}

p {
    font-size: 12px;
    color: #777777c4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 
    2px 2px 0 #000000,   
    -2px -2px 0 #000000,  
    2px -2px 0 #000000,    
    -2px 2px 0 #000000,   
    0 2px 0 #000000,       
    2px 0 0 #000000,       
    0 -2px 0 #000000,     
    -2px 0 0 #000000;      
    
}

.team-list ul {
    width: 100%;
    max-width: 600px; 
    margin: 0 auto; 
    padding: 0;
    list-style-type: none;
}

.team-list ul li {
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Caprasimo', sans-serif;
}

/* General Team Styling */
.team-list ul li a {
    font-size: 25px;
    text-decoration: none;
}

.team-list a:hover {
    font-size: 35px;
}

.record {
    font-size: 14px;
    text-align: center;
    color: #ccc; 
    margin-left: 5px;
}

.crown {
    width: 3%;
    height: auto;
    display: block;
    margin: 0 auto 2px;
}

/* Titans */
.titans a {
    color: #0C2340; /* Navy */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #4B92DB,   
    1px -1px 0 #4B92DB,    
    -1px 1px 0 #4B92DB,    
    0 1px 0 #4B92DB,       
    1px 0 0 #4B92DB,     
    0 -1px 0 #4B92DB,    
    -1px 0 0 #4B92DB; 
}

/* Browns */
.browns a {
    color: #311D00; /* Brown */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #FF3C00,   
    1px -1px 0 #FF3C00,    
    -1px 1px 0 #FF3C00,    
    0 1px 0 #FF3C00,       
    1px 0 0 #FF3C00,     
    0 -1px 0 #FF3C00,    
    -1px 0 0 #FF3C00; 
}

/* Giants */
.giants a {
    color: #0B2265; /* Blue */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #A71930,   
    1px -1px 0 #A71930,    
    -1px 1px 0 #A71930,    
    0 1px 0 #A71930,       
    1px 0 0 #A71930,     
    0 -1px 0 #A71930,    
    -1px 0 0 #A71930; 
}

/* Patriots */
.patriots a {
    color: #002244; /* Navy */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #C60C30,   
    1px -1px 0 #C60C30,    
    -1px 1px 0 #C60C30,    
    0 1px 0 #C60C30,       
    1px 0 0 #C60C30,     
    0 -1px 0 #C60C30,    
    -1px 0 0 #C60C30; 
}

/* Jaguars */
.jaguars a {
    color: #006778; /* Teal */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #D7A022,   
    1px -1px 0 #D7A022,    
    -1px 1px 0 #D7A022,    
    0 1px 0 #D7A022,       
    1px 0 0 #D7A022,     
    0 -1px 0 #D7A022,    
    -1px 0 0 #D7A022; 
}

/* Raiders */
.raiders a {
    color: #000000; /* Black */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #A5ACAF,   
    1px -1px 0 #A5ACAF,    
    -1px 1px 0 #A5ACAF,    
    0 1px 0 #A5ACAF,       
    1px 0 0 #A5ACAF,     
    0 -1px 0 #A5ACAF,    
    -1px 0 0 #A5ACAF; 
}

/* Jets */
.jets a {
    color: #125740; /* Green */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #000000,   
    1px -1px 0 #000000,    
    -1px 1px 0 #000000,    
    0 1px 0 #000000,       
    1px 0 0 #000000,     
    0 -1px 0 #000000,    
    -1px 0 0 #000000; 
}

/* Panthers */
.panthers a {
    color: #0085CA; /* Blue */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #000000,   
    1px -1px 0 #000000,    
    -1px 1px 0 #000000,    
    0 1px 0 #000000,       
    1px 0 0 #000000,     
    0 -1px 0 #000000,    
    -1px 0 0 #000000; 
}

/* Saints */
.saints a {
    color: #D3BC8D; /* Gold */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #000000,   
    1px -1px 0 #000000,    
    -1px 1px 0 #000000,    
    0 1px 0 #000000,       
    1px 0 0 #000000,     
    0 -1px 0 #000000,    
    -1px 0 0 #000000; 
}

/* Bears */
.bears a {
    color: #0f1e3a; /* Navy */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #ee4407,   
    1px -1px 0 #C83803,    
    -1px 1px 0 #C83803,    
    0 1px 0 #C83803,       
    1px 0 0 #C83803,     
    0 -1px 0 #C83803,    
    -1px 0 0 #C83803; 
}

/* Niners */
.niners a {
    color: #AA0000; /* Red */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #FFD100,   
    1px -1px 0 #FFD100,    
    -1px 1px 0 #FFD100,    
    0 1px 0 #FFD100,       
    1px 0 0 #FFD100,     
    0 -1px 0 #FFD100,    
    -1px 0 0 #FFD100; 
}

/* Cowboys */
.cowboys a {
    color: #041E42; /* Navy */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #869397,   
    1px -1px 0 #869397,    
    -1px 1px 0 #869397,    
    0 1px 0 #869397,       
    1px 0 0 #869397,     
    0 -1px 0 #869397,    
    -1px 0 0 #869397; 
}

/* Dolphins */
.dolphins a {
    color: #008E97; /* Aqua */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #F58220,   
    1px -1px 0 #F58220,    
    -1px 1px 0 #F58220,    
    0 1px 0 #F58220,       
    1px 0 0 #F58220,     
    0 -1px 0 #F58220,    
    -1px 0 0 #F58220; 
}

/* Colts */
.colts a {
    color: #0054d3; /* Blue */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #FFFFFF,   
    1px -1px 0 #FFFFFF,    
    -1px 1px 0 #FFFFFF,    
    0 1px 0 #FFFFFF,       
    1px 0 0 #FFFFFF,     
    0 -1px 0 #FFFFFF,    
    -1px 0 0 #FFFFFF; 
}

/* Falcons */
.falcons a {
    color: #ff0000; /* Red */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #000000,   
    1px -1px 0 #000000,    
    -1px 1px 0 #000000,    
    0 1px 0 #000000,       
    1px 0 0 #000000,     
    0 -1px 0 #000000,    
    -1px 0 0 #000000; 
}

/* Cardinals */
.cardinals a {
    color: #A71930; /* Red */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #000000,   
    1px -1px 0 #000000,    
    -1px 1px 0 #000000,    
    0 1px 0 #000000,       
    1px 0 0 #000000,     
    0 -1px 0 #000000,    
    -1px 0 0 #000000; 
}

/* Bengals */
.bengals a {
    color: #FB4F14; /* Orange */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #000000,   
    1px -1px 0 #000000,    
    -1px 1px 0 #000000,    
    0 1px 0 #000000,       
    1px 0 0 #000000,     
    0 -1px 0 #000000,    
    -1px 0 0 #000000; 
}

/* Seahawks */
.seahawks a {
    color: #002244; /* Navy */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #69BE28,   
    1px -1px 0 #69BE28,    
    -1px 1px 0 #69BE28,    
    0 1px 0 #69BE28,       
    1px 0 0 #69BE28,     
    0 -1px 0 #69BE28,    
    -1px 0 0 #69BE28; 
}

/* Buccaneers */
.buccaneers a {
    color: #D50A0A; /* Red */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #FF7900,   
    1px -1px 0 #FF7900,    
    -1px 1px 0 #FF7900,    
    0 1px 0 #FF7900,       
    1px 0 0 #FF7900,     
    0 -1px 0 #FF7900,    
    -1px 0 0 #FF7900; 
}

/* Broncos */
.broncos a {
    color: #002244; /* Navy */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #FB4F14,   
    1px -1px 0 #FB4F14,    
    -1px 1px 0 #FB4F14,    
    0 1px 0 #FB4F14,       
    1px 0 0 #FB4F14,     
    0 -1px 0 #FB4F14,    
    -1px 0 0 #FB4F14; 
}

/* Steelers */
.steelers a {
    color: #000000; /* Black */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #FFB612,   
    1px -1px 0 #FFB612,    
    -1px 1px 0 #FFB612,    
    0 1px 0 #FFB612,       
    1px 0 0 #FFB612,     
    0 -1px 0 #FFB612,    
    -1px 0 0 #FFB612; 
}

/* Chargers */
.chargers a {
    color: #1c91ff; /* Navy */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #FFC20E,   
    1px -1px 0 #FFC20E,    
    -1px 1px 0 #FFC20E,    
    0 1px 0 #FFC20E,       
    1px 0 0 #FFC20E,     
    0 -1px 0 #FFC20E,    
    -1px 0 0 #FFC20E; 
}

/* Packers */
.packers a {
    color: #234132; /* Green */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #FFB612,   
    1px -1px 0 #FFB612,    
    -1px 1px 0 #FFB612,    
    0 1px 0 #FFB612,       
    1px 0 0 #FFB612,     
    0 -1px 0 #FFB612,    
    -1px 0 0 #FFB612; 
}

/* Vikings */
.vikings a {
    color: #4F2683; /* Purple */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #FFC62F,   
    1px -1px 0 #FFC62F,    
    -1px 1px 0 #FFC62F,    
    0 1px 0 #FFC62F,       
    1px 0 0 #FFC62F,     
    0 -1px 0 #FFC62F,    
    -1px 0 0 #FFC62F; 
}

/* Texans */
.texans a {
    color: #03202F; /* Navy */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #A71930,   
    1px -1px 0 #A71930,    
    -1px 1px 0 #A71930,    
    0 1px 0 #A71930,       
    1px 0 0 #A71930,     
    0 -1px 0 #A71930,    
    -1px 0 0 #A71930; 
}

/* Rams */
.rams a {
    color: #1561e4; /* Blue */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #FFA300,   
    1px -1px 0 #ffd900,    
    -1px 1px 0 #ffd900,    
    0 1px 0 #ffd900,       
    1px 0 0 #FFA300,     
    0 -1px 0 #FFA300,    
    -1px 0 0 #FFA300; 
}

/* Ravens */
.ravens a {
    color: #2e1bac; /* Purple */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #9E7C0C,   
    1px -1px 0 #9E7C0C,    
    -1px 1px 0 #9E7C0C,    
    0 1px 0 #9E7C0C,       
    1px 0 0 #9E7C0C,     
    0 -1px 0 #9E7C0C,    
    -1px 0 0 #9E7C0C; 
}

/* Lions */
.lions a {
    color: #0076B6; /* Blue */
    text-shadow: 
    1px 1px 0 #9b9b9b,    
    -1px -1px 0 #B0B7BC,   
    1px -1px 0 #B0B7BC,    
    -1px 1px 0 #B0B7BC,    
    0 1px 0 #B0B7BC,       
    1px 0 0 #B0B7BC,     
    0 -1px 0 #B0B7BC,    
    -1px 0 0 #B0B7BC; 
}

/* Commanders */
.commanders a {
    color: #773141; /* Burgundy */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #FFB612,   
    1px -1px 0 #FFB612,    
    -1px 1px 0 #FFB612,    
    0 1px 0 #FFB612,       
    1px 0 0 #FFB612,     
    0 -1px 0 #FFB612,    
    -1px 0 0 #FFB612; 
}

/* Bills */
.bills a {
    color: #013ca1; /* Blue */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #C60C30,   
    1px -1px 0 #C60C30,    
    -1px 1px 0 #C60C30,    
    0 1px 0 #C60C30,       
    1px 0 0 #C60C30,     
    0 -1px 0 #C60C30,    
    -1px 0 0 #C60C30; 
}

/* Chiefs */
.chiefs a {
    color: #E31837; /* Red */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #FFB81C,   
    1px -1px 0 #FFB81C,    
    -1px 1px 0 #FFB81C,    
    0 1px 0 #FFB81C,       
    1px 0 0 #FFB81C,     
    0 -1px 0 #FFB81C,    
    -1px 0 0 #FFB81C; 
}

/* Eagles */
.eagles a {
    color: #004C54; /* Midnight Green */
    text-shadow: 
    1px 1px 0 #FFFFFF,    
    -1px -1px 0 #A5ACAF,   
    1px -1px 0 #A5ACAF,    
    -1px 1px 0 #A5ACAF,    
    0 1px 0 #A5ACAF,       
    1px 0 0 #A5ACAF,     
    0 -1px 0 #A5ACAF,    
    -1px 0 0 #A5ACAF; 
}

/* POSSIBLE DRAFT STYLING? */
/* .titans { background-color: #0C2340; color: #FFFFFF; } Titans navy and white */
/* .browns { background-color: #311D00; color: #FF3C00; } Browns brown and orange */
/* .giants { background-color: #0B2265; color: #A71930; } Giants blue and red */
/* .patriots { background-color: #002244; color: #C60C30; } Patriots navy and red */
/* .jaguars { background-color: #006778; color: #D7A022; } Jaguars teal and gold */
/* .raiders { background-color: #000000; color: #A5ACAF; } Raiders black and silver */
/* .jets { background-color: #125740; color: #FFFFFF; } Jets green and white */
/* .panthers { background-color: #0085CA; color: #000000; } Panthers blue and black */
/* .saints { background-color: #D3BC8D; color: #000000; } Saints gold and black */
/* .bears { background-color: #0B162A; color: #C83803; } Bears navy and orange */
/* .niners { background-color: #AA0000; color: #FFFFFF; } 49ers red and white */
/* .cowboys { background-color: #041E42; color: #869397; } Cowboys navy and silver */
/* .dolphins { background-color: #008E97; color: #F58220; } Dolphins aqua and orange */
/* .colts { background-color: #002C5F; color: #FFFFFF; } Colts blue and white */
/* .falcons { background-color: #A71930; color: #000000; } Falcons red and black */
/* .cardinals { background-color: #97233F; color: #FFB612; } Cardinals red and yellow */
/* .bengals { background-color: #FB4F14; color: #000000; } Bengals orange and black */
/* .seahawks { background-color: #002244; color: #69BE28; } Seahawks navy and green */
/* .buccaneers { background-color: #D50A0A; color: #FF7900; } Buccaneers red and orange */
/* .broncos { background-color: #002244; color: #FB4F14; } Broncos navy and orange */
/* .steelers { background-color: #000000; color: #FFB612; } Steelers black and yellow */
/* .chargers { background-color: #003A70; color: #FFC20E; } Chargers navy and yellow */
/* .packers { background-color: #203731; color: #FFB612; } Packers green and yellow */
/* .vikings { background-color: #4F2683; color: #FFC62F; } Vikings purple and yellow */
/* .texans { background-color: #03202F; color: #A71930; } Texans navy and red */
/* .rams { background-color: #003690; color: #FFA300; } Rams blue and yellow */
/* .ravens { background-color: #241773; color: #9E7C0C; } Ravens purple and gold */
/* .lions { background-color: #0076B6; color: #B0B7BC; } Lions blue and silver */
/* .commanders { background-color: #773141; color: #FFB612; } Commanders burgundy and gold */
/* .bills { background-color: #00338D; color: #C60C30; } Bills blue and red */
/* .chiefs { background-color: #E31837; color: #FFB81C; } Chiefs red and gold */
/* .eagles { background-color: #004C54; color: #A5ACAF; } Eagles midnight green and silver */

@media (max-width: 768px) {
    header {
        width: 100%;
        height: auto;
    }

    header .video-container video {
        max-width: 100%;
        height: auto;
        border-radius: 25px; 
    }

    h1 {
        font-size: 2em;
        margin-top: 10px; 
    }
}

@media (max-width: 768px) {
    .button-container {
        gap: 10px;
        align-items: center;
    }

    .button-container button {
        font-size: 1em; 
        margin: 5px 0; 
        padding: 5px 15px; 
    }
}

@media (max-width: 768px) {
    #searchInput {
        width: 50%;
        max-width: 400px; 
    }
}

@media (max-width: 768px) {
    .team-list ul {
        width: 90%; 
    }

    .team-list ul li a {
        font-size: 24px; 
    }

    .team-record {
        font-size: 10px; 
    }
    .draft-title {
        display: flex;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        justify-content: center;
        font-size: 25px;
        color: #fcb723;
        margin-top: 25px;
        -webkit-text-stroke: 1.60px rgb(0, 0, 0);  
    }
    
    .draft-title a {
        font-family: inherit; 
        margin-left: 14px;
    }
    
    .draft-timer {
        margin-left: 10px;
    }

    /* .crown {
        width: 3%;
        height: auto;
        display: block;
        margin: 0 auto 2px;
    } */
    
}
    
@media (max-width: 480px) {
    header {
        height: auto;
    }

    header .video-container video {
        width: 100%;
        max-width: 200px;
        border-radius: 20px;
        margin: 10px 0;
    }

    h1 {
        margin-top: 31px;
        font-size: 3.5em;
    }

    .video-row, .merch-row {
        flex-direction: column;
        align-items: center;
    }
}

