body {
    background-color: black;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: 'Galindo', sans-serif;
    box-sizing: border-box;
}

header {
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header .video-container video {
    width: 400px;
    max-height: auto;
    border-radius: 50px;
    margin-bottom: 10px;
}

h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 5em;
    font-family: 'Caprasimo', sans-serif;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    z-index: 1;
    white-space: nowrap;
    -webkit-text-stroke: .5px rgba(0, 73, 207, 0.822);  
}

main {
    padding-top: 10px;
}

.button-container {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.button-container button {
    font-family: 'Caprasimo', sans-serif;
    font-size: 1.2em;
    background-color: rgba(0, 73, 207, 0.822);
    color: black;
    border: none;
    padding: 5px 25px;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 250px;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: rgb(12, 167, 214);
}

.search-container {
    text-align: center;
    margin-top: 30px;
}

#searchInput {
    width: 100%;
    max-width: 200px;
    padding: 8px;
    font-size: 14px;
    text-align: center;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 250px;
    outline: none;
    transition: border-color 0.3s ease;
}

#searchInput:focus {
    border-color: rgb(47, 116, 75);
}

#searchInput::placeholder {
    color: rgba(211, 211, 211, 0.541);
}

.passing-container {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-bottom: 20px;
}

.passing-yards, .passing-touchdowns {
    text-align: center; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.receiving-container {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-bottom: 20px;
}

.receiving-yards, .receiving-touchdowns {
    text-align: center; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.rushing-container {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-bottom: 20px;
}

.rushing-yards, .rushing-touchdowns {
    text-align: center; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.tackle-container {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-bottom: 20px;
}

.tackles, .sacks {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.tackle-container {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-bottom: 20px;
}

.interceptions, .yards-allowed {
    text-align: center; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

@media (max-width: 768px) {
        header {
            width: 100%;
            height: 50%;
        }
    
        header .video-container video {
            width: 50%;
            border-radius: 50px;
        }
    
        header .video-container iframe {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    
        h1 {
            font-size: 3em;
            margin-top: 33px;
        }
    }
    
@media (max-width: 480px) {
    header {
        height: 150px;
    }
    
    header .video-container video {
        width: 50%;
        border-radius: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    h1 {
        font-size: 2em;
        margin-top: 33px;
    }

    .video-row, .merch-row {
        flex-direction: column;
        align-items: center;
    }
}